.payment-view-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 3rem;
}

.cart-summary-container {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.total-payment-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #e6f5eb; /* Fondo verde claro */
    border: 2px solid #00693e; /* Borde verde oscuro */
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #00693e; /* Texto verde oscuro */
  }
  
  .total-payment-amount {
    font-size: 1.5rem;
    font-weight: bold;
    color: #218838; /* Verde más oscuro para destacar */
    display: block;
    margin-top: 5px;
  }
  .loading-overlay {
    position: fixed; /* Fijo para cubrir toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro más opaco */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que esté sobre todos los elementos */
  }
  
  .loading-overlay p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 15px;
    text-align: center;
  }
  
